$font-stack:    Helvetica, sans-serif;
$primary-color: #333;

body {
  font: 100% $font-stack;
  color: $primary-color;
}

#wp-broadcast-add {
    background: #3498db;
    color: white;
    border: none;
    margin-bottom: 16px;
    font-size: 13px;
    padding: 10px 20px;
}

#wp-broadcasts-container{
    th {
        text-transform: uppercase;
        font-size: 11px;
        text-align: center;
    }
    td {
        vertical-align: middle;
        border-bottom: 1px solid rgba(51, 51, 51, 0.23);
    }
    td.broadcast-action-column {
        width: 118px;
    }
    td.wp-broadcast-col-id {
        width: 45px;
    }
    td.wp-broadcast-col-subject {
        width:40%;
    }
}



.wp-broadcast-col-count {
    width: 70px;
    text-align: center;
    p.wp-broadcast-count {
        background: #333;
        color: white;
        width: 30px;
        border-radius: 50%;
        height: 30px;
        line-height: 29px;
        display: block;
        margin-bottom: 0px;
        margin: 0 auto;
    }
    p.wp-broadcast-queued-count{
        background:#34495e;
    }
    p.wp-broadcast-processed-count{
        background:#2ecc71;
    }
}

.text-center{
    text-align:center;
}

.broadcast-action-container{
    button {
        border: none;
        font-size: 12px;
        padding: 5px 8px;
        // width:90px;
    }
    button:disabled {
        background: #333;
        opacity: .2;
    }
    .wp-broadcast-completed {
        background: #4CAF50;
        color: white;
    }
    .wp-broadcast-deactivate {
        background: #d35400;
        color: white;
    }
    .wp-broadcast-activate {
        background: #2ecc71;
        color: white;
    }
    .wp-broadcast-view {
        background: #3498db;
        color: white;
    }
    .wp-broadcast-queue {
        background: #34495e;
        color: white;
    }
    .wp-broadcast-delete {
        background: #e74c3c;
        color: white;
    }
}

.wrap{
    h1{
        margin-bottom:15px;
    }
    h2{
        margin-bottom:15px;
    }
    h1 span {
        display: block;
        font-size: 8px;
        opacity: .5;
    }
    h1 + p {
        margin-top: -20px;
    }
}
#editor { 
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}


.wp-broadcast-editor-container{
    .row{
        display:flex;
    }
    .row > div{
        position: relative;
    }
    .col-md-4 {
        width: 45%;
    }
    .col-md-8 {
        width: 55%;
    }
}

body .CodeMirror { height: 100vh; }

.wp-broadcast-editor-container{
    textarea,
    iframe {
        width: 100%;
        height: 100%;
    }
}

body{
    .mfp-bg {
        z-index: 9999;
    }
    .mfp-wrap {
        z-index: 999999;
    }   
}


.alert {
    background: #FAFAFA;
    padding: 10px;
    border-radius: 5px;
    margin-top: 15px;
}

.white-popup {
  position: relative;
  background: #FFF;
  padding: 20px;
  width: auto;
  max-width: 500px;
  margin: 20px auto;
}


.broadcast-action-container a {
    display: inline-block;
    background: #d5d5d5;
    color: black;
    padding: 0px 10px;
}
.form-container{
    label{
        display:block;
        margin-bottom:5px;
    }
    .form-control {
        width: 100%;
        margin-bottom:15px;
    }
    header {
        font-size: 20px;
        display: block;
        font-weight: bold;
        margin-bottom: 10px;
    }
    
}

.form-action{
    text-align:right;
    button {
        background: #2980b9;
        color: white;
        padding: 5px 15px;
        border: none;
    }
}


.broadcast-action-column {
    width: 200px;
}

#wp-broadcast-status-container{
    clear:both;
    .wp-status {
        background: #FAFAFA;
        padding: 10px;
        margin-bottom: 15px;
    }
    .wp-status.wp-success {
        background: #00b894;
        color: white;
    }
    .wp-status-close {
        float: right;
        font-size: 23px;
        font-weight: bold;
        position: relative;
        top: -3px;
        cursor:pointer;
    }
}
